.CreateOrder {
  &-nav {
    &-item {
      &.is-disabled {
        pointer-events: none;
        color: rgba(#000, 0.3);
      }
    }
  }

  &-step {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 580px;
      min-height: 280px;
    }
  }
}
