@import '../style/variables.scss';

.Gallery {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;

  &-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;

    &-image {
      width: 100%;
      height: auto;
      max-width: none;
      min-width: 0;
    }
  }

  &-pager {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: 6rem;
    margin-right: 0.5rem;

    &-thumb {
      position: relative;
      display: block;
      padding: 0;
      background: #FFF;
      border: none;
      margin-bottom: 0.5rem;
      outline: none;

      &:last-child {
        margin-bottom: 0;
      }

      &.is-active {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          box-shadow: 0 0 0 2px $red inset;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: block;

    &-main {
      height: 300px;
      margin-bottom: 0.5rem;

      &-image {
        height: 300px;
        width: auto;
      }
    }

    &-pager {
      flex-direction: row;
      width: auto;

      &-thumb {
        width: 6rem;
        height: 6rem;
        margin: 0 0.5rem 0 0;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
