.SignMessage {
  width: 100%;

  &-form {

    &-cli {
      .input {
        font-family: 'Lucida Console', Monaco, monospace;
      }
    }
  
    &-signature {
      .input {
        text-overflow: ellipsis;
        padding-right: 30px;
      }
    }
  }

  &-success {
    text-align: center;

    &-text {
      margin-bottom: 1.5rem;
    }

    &-continue {
      margin-bottom: 0.5rem;
    }
  }
}
