<html>
  <head>
    <title>RUN LND</title>
    <link rel="stylesheet" type="text/css" href="/client/style.css" />
  </head>
  <body>
    <div id="root" />
    <script src="/client/script.js"></script>
  </body>
</html>
