<html>
  <head>
    <title>RUN LND</title>
    <link rel="stylesheet" type="text/css" href="/client/style.css" />

    <title>RUN LND</title>
    <meta name="description" content="Limited edition RUN LND shirts, purchasable only with an LND node"/>
    <meta property="og:title" content="RUN LND" />
    <meta property="og:description" content="Limited edition RUN LND shirts, purchasable only with an LND node" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/client/images/meta/android-chrome-192x192.png" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@wbobeirne">

    <link rel="apple-touch-icon" sizes="180x180" href="/client/images/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/client/images/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/client/images/meta/favicon-16x16.png">
    <link rel="manifest" href="/client/images/meta/site.webmanifest">
    <link rel="mask-icon" href="/client/images/meta/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/client/images/meta/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/client/images/meta/browserconfig.xml">
    <meta name="theme-color" content="#000000">
  </head>
  <body>
    <div id="root" />
    <script src="/client/script.js"></script>
  </body>
</html>
